h1.titulo {
    position: absolute;
    left: 2em;
    right: 2em;
    transition: .5s;
    font-size: 52px;
    color: white;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    margin-top: 1em;
    font-weight: 700;
}

.wrapper_traço {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.traço {
    position: absolute;
    top: 6.3em;
    margin-top: 0.7em;
    background: white;
    width: 700px;
    height: 7px;
    border-radius: 13px;
    transition: 0.5s;
}
